extends ../partials/layout

//- Override default config variables
append config
    - var pageTitle = 'Serial - Borneo - CCY CHEN'
    - var pageCate = 'serial'
    - var root = "../"
    - var showLangSelector = true

//- Page Content
block content
    div.container.single
        div.chapter
            div.pic.banner
                img(src=root +"works/serial/borneo/tip-of-borneo/tip-of-bo-FIN-S.jpg")
                div.date 2021-2-3
        div.chapter
            div.title 0
            div.title.lang-en Travel in Borneo
            div.title.lang-cn 旅行婆罗洲                  
            div.title.lang-fr Voyage Bornéo
            div.pic.banner
                div.slogan.lang-en Feel the unknown, where will the wind bring me to?
                div.slogan.lang-cn 感受未知的起点, 风要将我吹向何方？
                div.slogan.lang-fr Ressentez le point de départ inconnu, où me souffle le vent?                  
                img(src=root +"works/serial/borneo/tip-of-borneo/tip-of-bo-FIN-S.jpg")
            div.text.lang-cn 婆罗洲的旅行，我一共去了两次，第一次是在2015年X月-X月，第二次是2019年的8-10月间。这两次旅行几乎覆盖了岛上的大多数地方。  对我来说，这是一个非常猎奇的想法，两次深度游，我本人应该从来不会想到这样一个地理位置，这么长的时间。做一件自己从来没想到过的艰苦旅程，又一次被莫名其妙的力量击中，在人生的某一段时光里，风餐露宿，体验婆罗洲的当地生活，体验野性冒险和热带雨林。  *此项目会持续更新—-—/`*  
            div.text.lang-en I went to Borneo twice in total. The first time was from X to X in 2015, and the second was from August to October in 2019. These two trips covered almost most places on the island. For me, this is a very curious idea. Two in-depth tours, I myself should never have thought of such a geographical location and such a long time. Do a arduous journey that I have never thought of, and once again be hit by an inexplicable force. At a certain time in my life, I will live and eat and sleep, experience the local life of Borneo, experience wild adventures and tropical rain forests. *This item will continue to be updated—-—/`*
            div.text.lang-fr Je suis allé à Bornéo deux fois au total. La première fois était de X à X en 2015, et la seconde d'août à octobre en 2019. Ces deux voyages ont couvert presque la plupart des endroits de l'île. Pour moi, c'est une idée très curieuse, deux tournées en profondeur, je n'aurais moi-même jamais dû penser à une telle localisation géographique et si longtemps. Faites un voyage difficile auquel je n'ai jamais pensé, et une fois de plus être frappé par une force inexplicable. À un certain moment de ma vie, je vais vivre, manger et dormir, vivre la vie locale de Bornéo, vivre des aventures sauvages et des pluies tropicales les forêts. * Cet élément continuera d'être mis à jour —-— / `*
        
        div.chapter
            div.title 1
            div.title 起点：Tip of Borneo
            div.pic.typeA
                div.slogan 感受未知的起点, 风要将我吹向何方？            
                img(src=root +"works/serial/borneo/tip-of-borneo/tip-of-bo-FIN-S.jpg")
                ul.tags
                    li 粉色帽檐
                    li Pink hat
                    li CG
                    li 2020
            p.text 这次旅行的主要交通工具是自行车，由于需要长途骑行，我准备了一个粉红色的遮阳帽和2件长袖运动衣。  面对未知的旅行，这是骑行的起点，婆罗洲北边的顶端 tip of boreno 。这里海风很大，不停的吹，吹散多样的云朵，吹拂所有的树木的石头。                

        div.chapter
            div.title 2  national park国家公园 
            div.swiper-container
                // Additional required wrapper
                div.swiper-wrapper
                    div.swiper-slide.pic.typeA         
                        img(src=root +"works/serial/borneo/Pako-park/1-upwater2-S.jpg")
                        ul.tags
                            li Pako upwater
                            li CG
                            li 2019
                    div.swiper-slide.pic.typeA         
                        img(src=root +"works/serial/borneo/market/d2-S.jpg")
                        ul.tags
                            li Pako upwater
                            li CG
                            li 2019

            p.text 探访国家公园，是一个最直接的接触野生动物的形式，最常见的就是各种猴子和犀鸟。猴子可以看的真切，但是犀鸟真的太遥远了，虽然看的见，但在有限的视觉中，也许只有小拇指盖这么大，还会飞，还藏在树丛中。用望远镜看，总觉得很不满足。有一些游客打扮的就像是动画片“人猿泰山”里的老教授，穿戴卡其色标准丛林套装。                

            
        div.chapter
            div.title 3 Bittersweet Fruit 
            div.pic.typeA
                div.slagon life is an bittersweet fruit      
                img(src=root +"works/serial/borneo/market/d2-S.jpg")
                ul.tags
                    li market
                    li CG
                    li 2020
            p.text 这次旅行，在饮食上有一个巨大的收获就是学会欣赏榴莲，对于我来说，榴莲是一个不易接触到的食物，也没有人会大力宣传，但是在这，每个人都为榴莲而骄傲。这次也正好经过了一次丰收季，在骑行的路上不断的经过大大小小的滩头，不断有一辆辆大卡车满载着榴莲驶过，顺便还会掉落几颗。  这是一个很有争议的水果，从不接受到接受，从接受到喜爱，需要一个过程，而过程中最重要的是，到达了季节和盛产地，品质无比新鲜，有热情的人们来鼓励和推荐。

        div.chapter
            div.title 4 炸鸡套餐 
            div.pic.typeA
                div.slagon 我是炸鸡上瘾严重患者      
                img(src=root +"works/serial/borneo/fried-chicken/fried-chicken2S.jpg")
                ul.tags
                    li market
                    li CG
                    li 2020
            p.text 印尼最常见的食物 是炸鸡套餐，任凭走到哪里大多数小餐馆都会提供。套餐由一块腌渍入味的新鲜炸鸡，一个倒扣的碗型白米饭（热带长米），两片生包菜或者3片黄瓜，两块油炸豆制品(具体是什么豆制品期待知情人士告知），两块炸龙虾片组成，而炸鸡套餐的灵魂是sambal辣酱。每家的配方会略有不同，基本上是带有酸甜味，和热带小番茄一起熬制的辣椒酱。大多数配方里会放有一点类似虾酱提味。当然sambal应该是辣酱的总称，除了炸鸡料理，在吃很多其他食物的时候也会搭配不同的sambal辣酱，通常是主妇们会亲自用新鲜的辣椒在捻钵里现捣而成 ，刺激爽口。 

        div.chapter
            div.title 5 拉江Rajang river 
            div.pic.typeA
                div.slagon 他们和我说不要去啊，不要去，江里打捞上的，尽是过去人们的眼珠     
                img(src=root +"works/serial/borneo/fried-chicken/fried-chicken2S.jpg")
                ul.tags
                    li 惊险一刻
                    li CG
                    li 2020
            p.text 拉江的故事十分的精彩，有许多内容，也是让我感受很深刻的一段行程，使得一个曾经怎么也叛逆，怎么也不情愿，怎么也挣扎咆哮的我，开始对旅行产生一种认同，如果不是如此这般，筋疲力尽的走到这个地方。  ”人不能两次踏入同一条河流“ 我看着滚滚的江河，它在我面前，看似平静却又似乎暗流汹涌。 