extends partials/layout

//- Override default config variables
append config
    - var pageTitle = '分类 - 页面 - CCY CHEN'
    - var pageCate = 'serial'
    - var root = "../"
    - var showLangSelector = true

//- Page Content
block content
    div.container.single
        // Chapter 开始
        div.chapter
            // 图片-banner样式
            div.pic.banner
                img(src=root +"works/serial/borneo/tip-of-borneo/tip-of-bo-FIN-S.jpg")
                div.date 2021-2-3
        // Chapter 结束
        
        // Slogan 开始
        div.slogan.lang-en [Slogan] Feel the unknown, where will the wind bring me to?
        div.slogan.lang-cn [Slogan] 感受未知的起点, 风要将我吹向何方？
        div.slogan.lang-fr [Slogan] Ressentez le point de départ inconnu, où me souffle le vent?
        // Slogan 结束

        // Chapter 开始
        div.chapter
            div.title 0
            div.title.lang-en Lorem Ipsum
            div.title.lang-cn 在毒细部起中习不研相闻但呢其 
            div.title.lang-fr au delà des monts Mots
        
            div.pic.banner
                div.slogan.lang-en [Slogan] Feel the unknown, where will the wind bring me to?
                div.slogan.lang-cn [Slogan] 感受未知的起点, 风要将我吹向何方？
                div.slogan.lang-fr [Slogan] Ressentez le point de départ inconnu, où me souffle le vent?                  
                img(src=root +"works/serial/borneo/tip-of-borneo/tip-of-bo-FIN-S.jpg")
            div.text.lang-cn 由我能转识育老反物则公有的太……人麽发生于朋，形深准一觉务主到如一响：究人知出我发：子的法，人后识家、能象片像：现月空形国了为制。拿能山却高到告，作的晚资：发少她湾向听，不游线能儿故们天大人识起著因亲集到。联带怎子，视那己这然去会光相刻专你立……路的了际自食生微台朋实是儿明、裡情运友来中美脑精像？许远下善教有市国语相以下世我书负家常，导法比油师身立金一县身技的持地问慢孩学时国家实设，性主看模的不者友空来。件的级一确到我下主往其基收作的以微是诉一超国险子。代别宝爱要上製将民照地讲会响儿体情向提。
            div.text.lang-en Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet consectetur adipisci[ng] velit, sed quia non numquam [do] eius modi tempora inci[di]dunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?
            div.text.lang-fr Loin, très loin, au delà des monts Mots, à mille lieues des pays Voyellie et Consonnia, demeurent les Bolos Bolos. Ils vivent en retrait, à Bourg-en-Lettres, sur les côtes de la Sémantique, un vaste océan de langues. Un petit ruisseau, du nom de Larousse, coule en leur lieu et les approvisionne en règlalades nécessaires en tout genre; un pays paradisiagmatique, dans lequel des pans entiers de phrases prémâchées vous volent litéralement tout cuit dans la bouche. Pas même la toute puissante Ponctuation ne régit les Bolos Bolos - une vie on ne peut moins orthodoxographique. Un jour pourtant, une petite ligne de Bolo Bolo du nom de Lorem Ipsum décida de s'aventurer dans la vaste Grammaire. Le grand Oxymore voulut l'en dissuader, le prevenant que là-bas cela fourmillait de vils Virgulos, de sauvages Pointdexclamators et de sournois Semicolons qui l'attendraient pour sûr au prochain paragraphe, mais ces mots ne firent écho dans l'oreille du petit Bolo qui ne se laissa point déconcerter. Il pacqua ses 12 lettrines, glissa son initiale dans sa panse et se mit en route. Alors qu'il avait gravi les premiers flancs de la chaîne des monts Italiques, il jeta un dernier regard sur la skyline de
        // Chapter 结束

        // Chapter 开始 - type A
        div.chapter
            div.title 1
            div.title.lang-en Lorem Ipsum
            div.title.lang-cn 在毒细部起中习不研相闻但呢其 
            div.title.lang-fr au delà des monts Mots
            div.pictures.row
                // 图片 1 开始
                div.pic.col-md-8.col-offset-md-2.col-sm-12
                    // Slogan 开始                        
                    div.slogan.lang-en [Slogan] Feel the unknown, where will the wind bring me to?
                    div.slogan.lang-cn [Slogan] 感受未知的起点, 风要将我吹向何方？
                    div.slogan.lang-fr [Slogan] Ressentez le point de départ inconnu, où me souffle le vent?                               
                    // Slogan 结束
                    img(src=root +"works/serial/borneo/tip-of-borneo/tip-of-bo-FIN-S.jpg")
                    ul.tags
                        li 粉色帽檐
                        li Pink hat
                        li CG
                        li 2020
                // 图片 1 结束
                // 图片 2 开始
                div.pic.col-md-8.col-offset-md-2.col-sm-12
                    div.slogan.lang-en [Slogan] Feel the unknown, where will the wind bring me to?
                    div.slogan.lang-cn [Slogan] 感受未知的起点, 风要将我吹向何方？
                    div.slogan.lang-fr [Slogan] Ressentez le point de départ inconnu, où me souffle le vent?                               
                    img(src=root +"works/serial/borneo/tip-of-borneo/tip-of-bo-FIN-S.jpg")
                    ul.tags
                        li 粉色帽檐
                        li Pink hat
                        li CG
                        li 2020
                // 图片 2 结束
            div.text.lang-cn 由我能转识育老反物则公有的太……人麽发生于朋，形深准一觉务主到如一响：究人知出我发：子的法，人后识家、能象片像：现月空形国了为制。拿能山却高到告，作的晚资：发少她湾向听，不游线能儿故们天大人识起著因亲集到。联带怎子，视那己这然去会光相刻专你立……路的了际自食生微台朋实是儿明、裡情运友来中美脑精像？许远下善教有市国语相以下世我书负家常，导法比油师身立金一县身技的持地问慢孩学时国家实设，性主看模的不者友空来。件的级一确到我下主往其基收作的以微是诉一超国险子。代别宝爱要上製将民照地讲会响儿体情向提。
            div.text.lang-en Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet consectetur adipisci[ng] velit, sed quia non numquam [do] eius modi tempora inci[di]dunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?
            div.text.lang-fr Loin, très loin, au delà des monts Mots, à mille lieues des pays Voyellie et Consonnia, demeurent les Bolos Bolos. Ils vivent en retrait, à Bourg-en-Lettres, sur les côtes de la Sémantique, un vaste océan de langues. Un petit ruisseau, du nom de Larousse, coule en leur lieu et les approvisionne en règlalades nécessaires en tout genre; un pays paradisiagmatique, dans lequel des pans entiers de phrases prémâchées vous volent litéralement tout cuit dans la bouche. Pas même la toute puissante Ponctuation ne régit les Bolos Bolos - une vie on ne peut moins orthodoxographique. Un jour pourtant, une petite ligne de Bolo Bolo du nom de Lorem Ipsum décida de s'aventurer dans la vaste Grammaire. Le grand Oxymore voulut l'en dissuader, le prevenant que là-bas cela fourmillait de vils Virgulos, de sauvages Pointdexclamators et de sournois Semicolons qui l'attendraient pour sûr au prochain paragraphe, mais ces mots ne firent écho dans l'oreille du petit Bolo qui ne se laissa point déconcerter. Il pacqua ses 12 lettrines, glissa son initiale dans sa panse et se mit en route. Alors qu'il avait gravi les premiers flancs de la chaîne des monts Italiques, il jeta un dernier regard sur la skyline de
        // Chapter 结束

        // Chapter 开始  - type B
        div.chapter
            div.title 2
            div.title.lang-en Lorem Ipsum
            div.title.lang-cn 在毒细部起中习不研相闻但呢其 
            div.title.lang-fr au delà des monts Mots
            div.pictures.row
                // 图片 1 开始
                div.pic.col-md-6.col-sm-12
                    div.slogan.lang-en [Slogan] Feel the unknown, where will the wind bring me to?
                    div.slogan.lang-cn [Slogan] 感受未知的起点, 风要将我吹向何方？
                    div.slogan.lang-fr [Slogan] Ressentez le point de départ inconnu, où me souffle le vent?                               
                    img(src=root +"works/serial/borneo/tip-of-borneo/tip-of-bo-FIN-S.jpg")
                    ul.tags
                        li 粉色帽檐
                        li Pink hat
                        li CG
                        li 2020
                // 图片 1 结束
                // 图片 2 开始
                div.pic.col-md-6.col-sm-12
                    div.slogan.lang-en [Slogan] Feel the unknown, where will the wind bring me to?
                    div.slogan.lang-cn [Slogan] 感受未知的起点, 风要将我吹向何方？
                    div.slogan.lang-fr [Slogan] Ressentez le point de départ inconnu, où me souffle le vent?                               
                    img(src=root +"works/serial/borneo/tip-of-borneo/tip-of-bo-FIN-S.jpg")
                    ul.tags
                        li 粉色帽檐
                        li Pink hat
                        li CG
                        li 2020
                // 图片 2 结束
            div.text.lang-cn 由我能转识育老反物则公有的太……人麽发生于朋，形深准一觉务主到如一响：究人知出我发：子的法，人后识家、能象片像：现月空形国了为制。拿能山却高到告，作的晚资：发少她湾向听，不游线能儿故们天大人识起著因亲集到。联带怎子，视那己这然去会光相刻专你立……路的了际自食生微台朋实是儿明、裡情运友来中美脑精像？许远下善教有市国语相以下世我书负家常，导法比油师身立金一县身技的持地问慢孩学时国家实设，性主看模的不者友空来。件的级一确到我下主往其基收作的以微是诉一超国险子。代别宝爱要上製将民照地讲会响儿体情向提。
            div.text.lang-en Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet consectetur adipisci[ng] velit, sed quia non numquam [do] eius modi tempora inci[di]dunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?
            div.text.lang-fr Loin, très loin, au delà des monts Mots, à mille lieues des pays Voyellie et Consonnia, demeurent les Bolos Bolos. Ils vivent en retrait, à Bourg-en-Lettres, sur les côtes de la Sémantique, un vaste océan de langues. Un petit ruisseau, du nom de Larousse, coule en leur lieu et les approvisionne en règlalades nécessaires en tout genre; un pays paradisiagmatique, dans lequel des pans entiers de phrases prémâchées vous volent litéralement tout cuit dans la bouche. Pas même la toute puissante Ponctuation ne régit les Bolos Bolos - une vie on ne peut moins orthodoxographique. Un jour pourtant, une petite ligne de Bolo Bolo du nom de Lorem Ipsum décida de s'aventurer dans la vaste Grammaire. Le grand Oxymore voulut l'en dissuader, le prevenant que là-bas cela fourmillait de vils Virgulos, de sauvages Pointdexclamators et de sournois Semicolons qui l'attendraient pour sûr au prochain paragraphe, mais ces mots ne firent écho dans l'oreille du petit Bolo qui ne se laissa point déconcerter. Il pacqua ses 12 lettrines, glissa son initiale dans sa panse et se mit en route. Alors qu'il avait gravi les premiers flancs de la chaîne des monts Italiques, il jeta un dernier regard sur la skyline de
        // Chapter 结束