// START header
block config
  include ../helpers/config

header
  a(href='/')
    img.header-logo(src=root + 'img/LOGO.png')
 
  // navigator
  nav.header-nav
    if pageCate != "home"
      a.nav-link.home(href= root + '/v2/dist') Home
    else
      a.nav-link.home(href=root + '/v2/dist').active Home
    
    if pageCate != "serial"
      a.nav-link.serial(href=root + 'serial') Serial
    else
      a.nav-link.serial(href=root + 'serial').active Serial
    
    if pageCate != "sketchbook"
      a.nav-link.sketchbook(href=root + 'sketch-book') Sketch Book
    else
      a.nav-link.sketchbook(href=root + 'sketch-book').active Sketch Book


    if pageCate != "paintings"
      a.nav-link.paintings(href=root + 'paintings') Paintings
    else
      a.nav-link.paintings(href=root + 'paintings').active Paintings


    if pageCate != "about"
      a.nav-link.about(href=root + 'about.html') About
    else
      div.nav-link.about.active About

  
  hr.header-ruler

  
