// START mobile navi
div.head-mobile-nav
    if showLangSelector
        a.langSelector(data-lang="en").selected EN
        ||
        a.langSelector(data-lang="cn") CN
        ||
        a.langSelector(data-lang="fr") FR
    a.mobile-nav-toggle(href='#')
        i.fas.fa-bars
    
div#mobile-nav
    div.nav-links
        a(href=root+'/v2/dist') Home
        a(href=root+'serial') Serial
        a(href=root+'sketch-book') Sketch Book
        a(href=root+'paintings') Paintings
        a(href=root+'about.html') About

    div.contact-block.row
        div.col-8.offset-2
            div.row.contacts
                a.col-3(href="https://www.facebook.com/Ccychen-546612609088383")
                    i.fab.fa-facebook-square
                
                a.col-3(href="https://www.instagram.com/ccychen111")
                    i.fab.fa-instagram-square

                a.col-3(href="https://www.weibo.com/u/1582690861")
                    i.fab.fa-weibo

                a.col-3(href="mailto:webcontact@ccychen.com")
                    i.fas.fa-envelope